<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="stylesheet" href="css/index.min.css" />

  </head>
  <body>
   
    {%include "app/modules/_header/_header.html"%}

    <main class="main">
      <section class="top">
        <div class="top__container">
          <div class="container">
            <h3 class="top__title">About Us</h3>
            <div class="breadcrumbs">
              <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="about">
        <div class="container">
          <div class="about-top">
            <img
              class="about-top__img"
              src="images/about/1.jpg"
              alt="about img"
            />
            <div class="about-top__wrapper">
              <div class="about-top__numbox">
                <h2 class="about-top__num">12</h2>
                <div class="about-top__numbox-caption">Years
                  Experience
                  Working
                </div>
              </div>
              <h3 class="about-top__subtitle">Mission of our creative house</h3>
              <p class="about-top__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum
              </p>
              <ul class="about-top__list">
                <li class="about-top__item projects-num">
                  520+
                  <span>Projects</span>
                </li>
                <li class="about-top__item revenue-num">
                  $4M
                  <span>Revenue</span>
                </li>
                <li class="about-top__item awards-num">
                  250
                  <span>Awards</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <div class="achievements">
        <div class="container">
          <div class="achievements__items">
            <div class="achievements__item">
              <div class="achievements__img-box">
                <img class="achievements__img" src="images/icons/computer.svg" alt="rate" >
              </div>
              <div class="achievements__num">99%</div>
              <div class="achievements__caption">Satisﬁed Clients Rate</div>
            </div>
            <div class="achievements__item">
              <div class="achievements__img-box">
                <img class="achievements__img" src="images/icons/delivery.svg" alt="rate" >
              </div>
              <div class="achievements__num">5020+</div>
              <div class="achievements__caption">Products Delivered</div>
            </div>
            <div class="achievements__item">
            <div class="achievements__img-box">
                <img class="achievements__img" src="images/icons/support.svg" alt="work time" >
            </div>
              <div class="achievements__num">23hr</div>
              <div class="achievements__caption">Daily Working Time</div>
            </div>
            <div class="achievements__item">
              <div class="achievements__img-box">
                <img class="achievements__img" src="images/icons/brands.svg" alt="rate" >
              </div>
              <div class="achievements__num">140+</div>
              <div class="achievements__caption">Brands in Store</div>
            </div>
          </div>
        </div>
      </div>

      <section class="team">
        <div class="container">
          <div class="team__inner">
            <div class="team__info">
              <h3 class="team__title">Our Team</h3>
              <p class="team__text">Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <a class="team__link" href="">Join With US</a>
            </div>
            <div class="team__members">
              <div class="team__member">
                <div class="team__member-imgbox">
                  <img class="team__member-img" src="images/team/1.jpg" alt="" >
                  <div class="team__member-description">
                    <div class="team__member-description__wrapper">
                      <div class="team__member-name">Eliza Elliot</div>
                    <div class="team__member-position">Commodo tempor</div>
                    </div>
                    <div class="team__member-social">
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/insta.svg " alt="">
                      </a>
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/google-plus.svg" alt="">
                      </a>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="team__member">
                <div class="team__member-imgbox">
                  <img class="team__member-img" src="images/team/4.jpg" alt="" >
                  <div class="team__member-description">
                    <div class="team__member-description__wrapper">
                      <div class="team__member-name">Marie F. Bloss</div>
                    <div class="team__member-position">Commodo tempor</div>
                    </div>
                    <div class="team__member-social">
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/insta.svg " alt="">
                      </a>
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/google-plus.svg" alt="">
                      </a>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="team__member">
                <div class="team__member-imgbox">
                  <img class="team__member-img" src="images/team/2.jpg" alt="" >
                  <div class="team__member-description">
                    <div class="team__member-description__wrapper">
                      <div class="team__member-name">Roscoe A.</div>
                    <div class="team__member-position">Commodo tempor</div>
                    </div>
                    <div class="team__member-social">
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/insta.svg " alt="">
                      </a>
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/google-plus.svg" alt="">
                      </a>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="team__member">
                <div class="team__member-imgbox">
                  <img class="team__member-img" src="images/team/3.jpg" alt="" >
                  <div class="team__member-description">
                    <div class="team__member-description__wrapper">
                      <div class="team__member-name">Ruby M.</div>
                    <div class="team__member-position">Commodo tempor</div>
                    </div>
                    <div class="team__member-social">
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/insta.svg " alt="">
                      </a>
                      <a class="team__member-social__link" href="#">
                        <img src="images/icons/google-plus.svg" alt="">
                      </a>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    {%include "app/modules/_blog/_blog.html"%}


          {%include "app/modules/_partners-main/_partners-main.html"%}


     

    </main>

      {%include "app/modules/_footer/_footer.html"%}

    <script src="js/main.min.js"></script>
  </body>
</html>
